
@model List<Entities.Concrete.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Desciption</td>
        </tr>
    }
</table>

@using (Html.BeginForm("Add", "Category", FormMethod.Post))
{
    <div class="form-group">
        <label for="Name">Name: </label>
        <input type="text" id="Name" name="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Desc">Açıklama: </label>
        <input type="text" id="Desc" name="Desciption" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
}



